body{
    color: #555555;
    font-family: "Open Sans";
}

/*=========================*/
/*Top Header Style Sheet*/
/*=========================*/
.top-header{
    width: 100%;
    display: inline-block;
    background: #ffffff;
    padding: 10px 0;
}
.top-header .top-header-content{
    width: 100%;
    display: inline-block;
}
.top-header .top-header-content p{
    margin: 0;
    padding: 0;
    width: 100%;
    color: #555555;
    font-family: "Open Sans";
}

/*=========================*/
/* Website Name Style Sheet*/
/*=========================*/
.header-fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.header{
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    background: #8a26ba;
}
.header .navbar-default{
    background: transparent;
    border: 0;
    margin: 0 0 5px 0;
}
.header .navbar-header .navbar-brand{
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 32px;
}

/*=========================*/
/* Main Nav Style Sheet*/
/*=========================*/
.mainMenu{
    float: right;
}
.header .navbar-default .navbar-nav > li > a{
    color: #ffffff;
    font-family: "Open Sans";
    text-shadow: none;
    font-size: 16px;
}
.header .navbar-default .navbar-nav > li > a:active,
.header .navbar-default .navbar-nav > li > a:focus,
.header .navbar-default .navbar-nav > li > a:hover{
    text-decoration: none;
    color: #dddddd;
}

/*=========================*/
/* Banner Style Sheet*/
/*=========================*/
.banner{
    width: 100%;
    display: inline-block;
    margin-top: -7px;
    overflow: hidden;
    position: relative;
}
.banner img{
    width: 100%;
}
.search-form{
    width: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.50);
    padding: 30px 0;
    z-index: 3;
}
.search-form .form-group{
    margin: 0;
}
.search-form .search-label-right{
    text-align: right;
    margin-top: 7px;
}
.search-form .search-label-center{
    text-align: center;
    margin-top: 7px;
}
.search-form .form-group label{
    color: #ffffff;
    font-family: "Open Sans";
}
.search-form .form-group .form-control{
    width: 100%;
}

.search-form .of {
    margin-right: 30px;
    float: left;
}

.search-form .form-group .location-input {
    width: 81.95%;
}

/*=========================*/
/* Slogan Style Sheet*/
/*=========================*/
.slogan{
    width: 100%;
    display: inline-block;
    background: #ededed;
    padding: 20px 0;
    margin-top: -6px;
}
.slogan h3{
    margin: 0;
    padding: 5px 0;
    font-family: "Open Sans";
    font-weight: 300;
}
.slogan p{
    margin: 0;
    padding: 5px 0;
    font-family: "Open Sans";
    font-weight: 500;
}

/*===============================*/
/* Column Content Style Sheet*/
/*===============================*/
.column-blog{
    width: 100%;
    display: inline-block;
    background: #ffffff;
    padding: 30px 0;
}
.column-blog-content{
    width: 100%;
    display: inline-block;
}
.column-sidebar-content{
    width: 100%;
    display: inline-block;
    padding: 5px;
    background: #ffffff;
}
.column-sidebar-content img{
    width: 100%;
}
.column-blog-content h2{
    margin: 0;
    padding: 10px 0;
    font-family: "Open Sans";
    font-weight: 300;
}
.column-blog-content p{
    margin: 0;
    padding: 5px 0 10px 0;
    font-family: "Open Sans";
    font-weight: 300;
    text-align: justify;
}
.column-blog-content ul{
    padding: 0;
    list-style: none;
    width: 100%;
    margin: 10px 0;
}
.column-blog-content a{
    background: none repeat scroll 0 0 #e7e7e7;
    color: #555555;
    display: inline-block;
    font-family: "Open Sans";
    margin: 0;
    padding: 12px 20px;
    text-align: center;
}
.column-blog-content a:hover,
.column-blog-content a:active,
.column-blog-content a:focus{
    background: none repeat scroll 0 0 #d7d7d7;
    text-decoration: none;
}

/*=========================*/
/* Feature Style Sheet*/
/*=========================*/
.feature{
    width: 100%;
    display: inline-block;
    background: #ededed;
    padding: 40px 0;
}
.feature-content{
    width: 100%;
    display: inline-block;
    background: #ffffff;
}
.feature-content .feature-description{
    width: 90%;
    padding: 0 10% 0 0;
    display: inline-block;
}
.feature-content .feature-description .feature-tablet{
    display: none;
}
.feature-content .feature-description h4{
    margin: 0;
    padding: 0 0 5px 0;
}

/*=========================*/
/* Search Options Style Sheet*/
/*=========================*/
.search-options{
    width: 100%;
    display: inline-block;
    background: #ffffff;
    padding: 5px 0;
}
.search-options .filter-trigger,
.search-options .sort-trigger{
    display: none;
}
.search-options .filter-mobile .form-group{
    margin: 1%;
    width: 48%;
    float: left;
}
.search-options .filter-large .form-group{
    margin: 0 2% 0 0;
    width: 10%;
    float: left;
}

.search-options .filter-large .form-field-location {
    width: 14%;
}


.search-options .filter-large .form-search-button {
    width: 11%;
    margin: 0 0 0 1%;
}

.search-options .filter-large .form-group label{
    width: 100%;
    font-size: 13px;
}
.search-options .filter-large .form-group button{
    margin-top: 23px;
}
.search-options .form-group .form-control{
    width: 100%;
}



/*==============================*/
/* Search Content Style Sheet*/
/*==============================*/
.search-result{
    width: 100%;
    display: inline-block;
    background: #ededed;
    padding: 20px 0;
}
.search-result h2{
    font-family: "Open Sans";
    font-size: 23px;
    margin: 5px 0 0;
    padding: 0;
}
.sort-by-large label{
    margin-right: 10px;
}

/*==============================*/
/* Search Results Style Sheet*/
/*==============================*/
.results{
     width: 100%;
     display: inline-block;
     background: #ededed;
     padding: 20px 0;
    margin-top: -6px;
}
.result-content{
    width: 100%;
    display: inline-block;
    background: #ffffff;
    padding: 15px 0;
}
.property-image{
    width: 100%;
    display: inline-block;
    position: relative;
}
.property-image .sale-absolute{
    position: absolute;
    right: 0;
    top: 0;
}
.result-section:first-child{
    border-bottom: 1px solid #e6e6e6;
    padding: 0 0 10px;
}
.result-section{
    display: inline-block;
    width: 100%;
}
.result-section h3{
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
}
.result-section h3 span{
    font-size: 14px;
}
.result-section .price{
    text-align: right;
}
.result-content-description{
    width: 100%;
    display: inline-block;
}

.result-content-description p{
    margin: 0;
    padding: 0;
}

.link-buttons{
    width: 100%;
    display: inline-block;
}

.icon-absolute{
    margin: 0;
    padding: 25px 0 0 0;
    width: 100%;
    list-style: none;
}
.icon-absolute li{
    display: inline-block;
    width: 80px;
    height: 40px;
    position: relative;
    text-align: center;
}
.icon-absolute li img{
    bottom: 0;
    position: absolute;
    left: 0;
}
.icon-absolute li span{
    bottom: 0;
    position: absolute;
    right: 8px;
}

/**
    Popover arrow fix
    Moved to little left
**/
.popover.top .arrow {
    margin-left: -30px;
}
.popover.top .arrow:after {
    margin-left: -10px;
}


.table-icon{
    margin: 20px 0;
    max-width: 100%;
    width: 100%;
}
.table-icon td.td-img{
    width: 50px;
    display: inline-block;
}
.table-icon td.td-text{
    width: 50px;
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
}
.price-large-result{
    margin: 0;
    padding: 0 0 30px 0;
    text-align: right;
}
.result-block{
    border-radius: 0;
    float: right;
    margin: 5px;
    padding: 12px 20px;
    text-align: center;
    width: 75%;
}
.fav-block{
    border-radius: 0;
    float: right;
    margin: 5px 0 0 0;
    padding: 12px 0 0 0;
    text-align: center;
    width: 75%;
}
.result-contact{
    width: 100%;
    display: inline-block;
    background: #8a26ba;
    padding: 20px 0;
    margin-top: -7px;
}
.result-contact h4{
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 14px;
}


/*=========================*/
/* Result(Property) details Style Sheet*/
/*=========================*/
.result-details{
    width: 100%;
    display: inline-block;
    padding: 30px 0;
    background: #ededed;
    margin-top: -6px;
}
.result-details-content{
    width: 100%;
    display: inline-block;
    background: #ffffff;
    padding-bottom: 30px;
}
.result-details-content .side-bar{
    width: 100%;
    display: inline-block;
}
.result-details-content .details-content-section:first-child{
    border-bottom: 1px solid #e6e6e6;
}
.result-details-content .details-content-section{
    width: 100%;
    display: inline-block;
    padding: 0 0 10px 0;
}
.result-details-content .details-content-section p{
    margin: 0;
    padding: 10px 0;
}
.result-details-content .details-content-section h3{
    margin: 0;
    padding: 0 0 5px 0;
}
.modal-trigger-margin{
    margin-top: 20px!important;
}
/*=========================*/
/* Slide Show Style Sheet*/
/*=========================*/
.slide-show{
    width: 100%;
    display: inline-block;
    margin: 15px 0;
}
.slide-show #carousel {
    margin-top: 15px;
}
.slide-show #carousel .slides li{
    opacity: 0.7;
}
.slide-show #carousel .slides li:hover,
.slide-show #carousel .slides li:focus,
.slide-show #carousel .slides li:active,
.slide-show #carousel .slides li.flex-active-slide{
    opacity: 1;
}



/*=========================*/
/* About Style Sheet*/
/*=========================*/
.about{
    width: 100%;
    display: inline-block;
    background: #ededed;
    padding: 30px 0;
}
.about-description{
    width: 100%;
    display: inline-block;
    background: #ffffff;
    padding: 20px;
}
.profile-content{
    width: 100%;
    display: inline-block;
    padding: 40px 0 0 0;
}
.icon-large,
.icon-black{
    wdith: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
.icon-large i{
    font-size: 50px;
    padding: 18px;
}
.icon-black i{
    background: none repeat scroll 0 0 #555555;
    border-radius: 50%;
    color: #ffffff;
    font-size: 30px;
    padding: 18px;
}
.profile-content h1, .profile-content h2{
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    text-align: center;
}
.profile-content .team-profile{
    width: 100%;
    display: inline-block;
}
.profile-content .team-profile{
    width: 20%;
    float: left;
    display: inline-block;
    font-family: "Open Sans";
    text-align: center;
    padding-top: 50px;
}
.profile-content .team-profile img{
    max-width: 150px;
}
.profile-content .team-profile h2{
    font-family: "Open Sans";
}
.profile-content .team-profile p{
    font-family: "Open Sans";
}
/*=========================*/
/* Contact Style Sheet*/
/*=========================*/
.contact{
    width: 100%;
    display: inline-block;
    padding: 30px 0;
    background: #ffffff;
}
.contact-content{
    width: 100%;
    display: inline-block;
}
.contact-content h1{
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-family: "Open Sans";
}
.contact-content .contact-form{
    width: 100%;
    display: inline-block;
    padding: 30px 0;
}






/*=========================*/
/* Footer Style Sheet*/
/*=========================*/
.footer{
    width: 100%;
    display: inline-block;
    padding: 30px 0;
    background: #4c4c4c;
}
.footer-content{
    width: 100%;
    display: inline-block;
}
.footer-content h4{
    color: #ffffff;
    font-family: "Open Sans";
    margin: 0;
    padding: 0 0 20px 0;
}
.footer-content ul.footer-nav{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-content ul.footer-nav li{
    margin: 0;
    padding: 0;
}
.footer-content ul.footer-nav li a{
    margin: 0;
    padding: 5px 0;
    color: #ffffff;
}
.footer-content ul.footer-nav li a:hover{
    text-decoration: none;
    color: #bababa;
}














/*=============================*/
/* Default Custom Style Sheet*/
/*=============================*/
.text-italic{
    font-style: italic;
}
.btn-green-light{
    background-color: #34c525;
    border-color: #31b823;
    color: #fff;
}
.btn-green-light:hover,
.btn-green-light:active,
.btn-green-light:focus{
    background-color: #31b823;
    border-color: #4cae4c;
    color: #fff;
}
.btn-green{
    background-color: #054e1a;
    border-color: #043f15;
    color: #fff;
}
.btn-green:hover,
.btn-green:active,
.btn-green:focus{
    background-color: #043f15;
    border-color: #043f15;
    color: #fff;
}
.btn-normal{
    background-color: #e7e7e7;
    border-color: #c8c8c8;
    color: #555;
    font-size: 15px;
    border-radius: 0;
}
.btn-normal:hover,
.btn-normal:active,
.btn-normal:focus{
    background-color: #d4d4d4;
    border-color: #c8c8c8;
}
.normal-padding{
    padding: 20px;
}
.normal-margin{
    margin: 20px;
}
.color-green{
    color: #054e1a;
}
.line{
    height: 1px;
    background: #054e1a;
    margin: 15px 0;
}
.line-full{
    width: 100%;
}
.noPadding{
    padding: 0;
}
.imgAuto{
    width: 100%;
}
.modal-dismis{
    background: none repeat scroll 0 0 #000!important;
    border: 1px solid #fff!important;
    border-radius: 50%;
    color: #ffffff;
    font-size: 25px;
    height: 30px;
    opacity: 0.7;
    position: absolute;
    right: -15px;
    text-align: center;
    top: -15px;
    width: 30px;
    z-index: 9999;
}
.modal-dismis span{
    margin-top: -2px;
    display: block;
}
.modal-dismis:hover,
.modal-dismis:active,
.modal-dismis:focus{
    opacity: 1;
    color: #ffffff!important;
}
.input-theme{
    background: #e8e8e8;
}
.icon-down{
    margin-left: 10px;
}
.icon-up{
    display: none;
    margin-left: 10px;
}
.show-mobile{
    display: none;
}